.table {
    border-radius: 10px;
    border-spacing: 0;
    margin: 10px;
}

.table__header {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid black;
}
.table__cell {
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 10px;
    vertical-align: middle;
    text-align: left;
    min-width: 150px;
}
.table__cell_centered {
    text-align: center;
}
